# Archivos de compilación
*.o
*.obj

# Archivos de la base de datos de dependencias de Makefile
*.d

# Archivos generados por el compilador
*.a
*.so
*.dll
*.lib
*.exe

# Archivos binarios generados por la compilación
conwaySeq
conwayParallel
conwayThreaded

# Archivos temporales del sistema
*.swp
*.swo
*.tmp
*.log

# Archivos específicos de sistemas operativos
.DS_Store
Thumbs.db

# Archivos generados por el compilador
*.gch
*.gcda
*.gcno
*.gcov
*.c~ 

# Directorios generados por IDEs y entornos de desarrollo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
